@import '../../../variables.scss';

main {
    width: 300px;
    height: 100vh;

    background-color: $bg-side-bar;

    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .icon-list  {
            padding: 1.3rem;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 1.4rem;

            i {
                font-size: 1.8rem;
            }

            &:hover {
                background-color: $bg-houver-icon;
            }
        }
    }
}
